In [ ]:
#modulo
100*(1.02)**24

160.84372494752262

In [ ]:
#Example 02
100*(1.1)**7

194.87171000000012

#Python Code

In [ ]:
# add
2+2

4

In [ ]:
# subtract
4-3

1

In [ ]:
# multiply
2*10

20

In [ ]:
#modulo
100%2

0

In [ ]:
#modulo
2%100

2

In [ ]:
age = 25

In [ ]:
print (age)

25

In [ ]:
# write age, name of a person and height and calculate his age in 10 years and show all variables via print

In [ ]:
age = 27
name = "zain ahmed"
Height = 5.4

In [ ]:
print(age)
print(name)
print(Height)

27
zain ahmed
5.4

In [ ]:
#ageIn10 = age + (10)
print(ageIn10)

37

In [ ]:
#type of var
int= 25
str = "name"
float= 25.5
bool = True or False or None

In [ ]:
name = "zain"
age = 27
height = 5.4
type(Height)
type(name)
type(age)

int

In [125]:
savings = int(100)
print(savings)

TypeError: 'int' object is not callable